body {
    background-color: white;
}
img {
    height: auto;
}
body {
    font-family: "Open Sans";
    font-size: 18px;
}
.Titulo {
    text-align: center;
    font-size: 130%;
}
.centro {
    text-align: center;
    vertical-align: middle;
}
.pregunta {
    text-align: justify;
    padding: none;
}
input {
    margin: 0px;
    padding: none;
    width: 90%;
    margin-left: 0px;
}
.col-2 {
    margin: none;
    padding: none;
}
input[type="radio"] {
    margin: none;
    padding: none;
}

.rounded {
    border-radius: 30px !important;
}

.bg-primary {
    background-color: #5bcce8 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.iconArrow {
    width: 250px !important;
}
